<div class="container">
  <div class="page-header">
    <h1>Lightning Flashcards</h1>
    <h2>Create a set of flashcards to printout and practice with</h2>
  </div>

  <!-- Show flashcards -->
  <div class="flashcards">
    <!-- Show empty message if there are no cards -->
    <p *ngIf="cards.length === 0">There are no flashcards in this set. Add some!</p>

    <flashcard 
      [card]="card"
      *ngFor="let card of cards"
    ></flashcard>
  </div>

  <card-form (addCard)="addCard($event)"></card-form>

  <button (click)="generatePDF()">Generate PDF</button>
</div>
