/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  font-size: 16px;
}

body {
  background: #F44E3F;
}

.container {
  width: 93.75%;
  max-width: 720px;
  margin: 30px auto;
}